@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App::-webkit-scrollbar {
    width: 10px;
}
/* Track */
.App::-webkit-scrollbar-track {
    background: var(--background);
}
/* Handle */
.App::-webkit-scrollbar-thumb {
    background: var(--font);
}
/* Handle on hover */
.App::-webkit-scrollbar-thumb:hover {
    background: gray;
}

.maxWidth1440 {
    max-width: 1440px;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.maxWidth800 {
    max-width: 800px;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.section {
    width: 100%;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    color: var(--font);
    animation: fade-in 0.15s linear;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fade-up1 {
    0% {
        transform: translateY(10px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes fade-up2 {
    0% {
        transform: translateY(10px);
        opacity: 0;
    }
    25% {
        transform: translateY(10px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes fade-up3 {
    0% {
        transform: translateY(10px);
        opacity: 0;
    }
    50% {
        transform: translateY(10px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes fade-up4 {
    0% {
        transform: translateY(10px);
        opacity: 0;
    }
    75% {
        transform: translateY(10px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes left-right-infinite {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(0px);
    }
}
@keyframes shadow-fade-infinite {
    0% {
        box-shadow: 0px 0px 10px 3px var(--button-hover);
    }
    50% {
        box-shadow: 0px 0px 10px 3px var(--button-hover-invert);
    }
    100% {
        box-shadow: 0px 0px 10px 3px var(--button-hover);
    }
}
