@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App::-webkit-scrollbar {
    width: 10px;
}
/* Track */
.App::-webkit-scrollbar-track {
    background: var(--background);
}
/* Handle */
.App::-webkit-scrollbar-thumb {
    background: var(--font);
}
/* Handle on hover */
.App::-webkit-scrollbar-thumb:hover {
    background: gray;
}

.maxWidth1440 {
    max-width: 1440px;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.maxWidth800 {
    max-width: 800px;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}
