@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* overflow: hidden; */
}

.dark {
    --background: #1e1e1e;
    --button-hover: #3c3c3c;
    --button-hover-invert: #c3c3c3;
    --font: #e1e1e1;
    --font-hover: #aaaaaa;
}

.light {
    --background: #e1e1e1;
    --button-hover: #c3c3c3;
    --button-hover-invert: #3c3c3c;
    --font: #1e1e1e;
    --font-hover: #888888;
}

@layer components {
    /* Tooltip Box */
}
